body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: yellow;
    width: 100%;
    padding: 10px;
}

section{
    background-color:#514988;
    color: #ffffff;
    position: absolute;
    text-align: center;
    line-height: 35.24px;
    width: 600px;
    height: 460px;
    font-size: 20px;
    margin-right: 0%;
}

.countdown{
    color: #514988;
    display: grid;
    grid-auto-flow: column;
    width: 500px;
    margin-left: 60%;
    bottom: 500px;
}

#text{
    color: #E33881;
    margin-top: 45px;
    font-size: 15px;
    width: 650px;
    position: absolute;
}

.subtitle{
    color: yellow;
    margin-top: 400px;
    margin-bottom: 30px;
    margin-left: 130px;
    font-size: 20px;

}

#img{
    filter: drop-shadow(30px, 30px, 30px);
    margin-bottom: 20px;
    margin-top: 5px;
}
.video{
    position: absolute;
    width: 660px;
    height:410px;
    left: 630px;
    top: 150px;
    
    background: url(image.png);
}


button {
    background-color: #514988;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    font-weight: 740;
    font-size: 20px;
    border-radius: 10px;
    width: 300px;
    height: 80px;
    left: 917px;
    top: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: yellow;
    color: black;
}


.card-highlight{
    box-shadow: 8px 15px 15px grey;
}

.card-selected{
    border: 5px solid green;
}

input{
    background-color: #514988;
    color: #ffffff;
    font-size: 25px;
    font-weight: 740;
    cursor: pointer;
    border-radius: 10px;
    width: 300px;
    height: 80px;
    transition: all 0.5s ease-in-out;
}

input:hover{
    background-color: yellow;
    color: black;
}